@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-poppins: Poppins, sans-serif;
    --font-josefin: Josefin Sans, sans-serif;

    --color-rust: #731702;
    --color-bluegray: #465475;
    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);

    --background-image-hero: url('https://cdn.mojoimpact.com/rrg/bg2.webp');
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }

    *:focus-visible {
        @apply outline-hidden;
    }

    html {
        @apply font-josefin bg-zinc-50;
    }

    body {
        @apply w-full;
    }

    /*section {*/
    /*    @apply p-2 md:px-8;*/
    /*}*/

    h1, h2, h3, h4 {
        @apply font-poppins;
    }
}
.two__col {
    @apply flex items-center flex-col  mx-auto max-w-screen-2xl;
}
.two__col-pic-l {
    @apply md:flex-row;
}
.multi__col {
    @apply m-auto grid sm:grid-cols-1  md:grid-cols-2 gap-0 md:gap-8;
}
.multi__col-3col {
    @apply lg:grid-cols-3;
}
.multi__col-4col {
    @apply lg:grid-cols-4;
}
.multi__col-div {
    @apply flex flex-col place-items-center;
}
.card_group {
    @apply relative h-96 perspective-[1200px];
}
.card__body {
    @apply  relative h-full w-full transition-transform duration-700 [transform-style:preserve-3d]
    group-hover:[transform:rotateY(180deg)] group-focus-within:[transform:rotateY(180deg)];
}
.card__body-div {
    @apply flex flex-col items-center justify-start  text-center h-full;
}
.card__body-div h3{
    @apply text-lg md:text-xl text-center text-red-500 mb-5;
}
.card__body-div p:first-of-type{
    @apply pt-8 mb-4;
}
.card__body-div p{
    @apply  mb-4;
}
.card__body-div img{
    @apply max-h-16 mx-auto mb-2;
}
.card__body-div figcaption{
    @apply text-sm text-center mb-5;
}

.card__front,
.card__back{
    @apply absolute inset-0 shadow-xl text-left;
}
.card__front{
    @apply overflow-hidden rounded-2xl bg-gradient-to-br from-stone-50 to-stone-200 p-6  [backface-visibility:hidden];
}
.card__back{
@apply rounded-2xl bg-gradient-to-br from-slate-600 to-slate-900 p-6 text-white [transform:rotateY(180deg)] [backface-visibility:hidden];
}
.btnScrollToTop {
    @apply w-10 h-10 rounded-4xl bg-rust/40 text-zinc-300/40 hover:text-zinc-50 z-50 fixed bottom-12 right-2 md:right-8 hover:animate-bounce hover:bg-red-800/90 transition-all duration-300 ease-in-out;
}
.btnScrollToTop svg {
    @apply w-3 h-3 inline-block  transition-all duration-300 ease-in-out;
}
.trade:after {
    @apply text-current -ml-2 align-top font-normal content-['\2122'];
}
